__pycache__/
*.py[cod]

2DMotionGPT/deps
2DMotionGPT/dataset
2DMotionGPT/checkpoints

2DTM2T/dataset

2DMG-MotionLLM/dataset
2DMG-MotionLLM/checkpoints
2DMG-MotionLLM/glove
2DMG-MotionLLM/m2t-ft-from-GSPretrained-base
2DMG-MotionLLM/m2dt-ft-from-GSPretrained-base
2DMG-MotionLLM/m2dt-2drecon
2DMG-MotionLLM/m2t-2drecon-100k

Paper